<div class="card shadow-xl bg-accent">
  <div class="card-body">
    <div class="card-title">
      <div class="flex w-full">
        <div class="grow">{{ product.shortDescription }}</div>
        <div class="flex-none">{{ product.price }} {{ product.currency }}</div>
      </div>
    </div>
    <div class="flex mt-5">
      <div class="col-span-2 grid grid-cols-2 gap-5 w-full">
        <a role="button" class="btn">2</a>
        <a role="button" class="btn">3</a>
        <a role="button" class="btn">4</a>
        <a role="button" class="btn">5</a>
      </div>
      <div class="col-span-1"></div>
    </div>
  </div>
</div>
