<div>List</div>
<div class="flex flex-row text-black justify-center align-middle">
    <div>
        <div class="form-control">
            <label class="label cursor-pointer">
                <input type="checkbox"
                       class="checkbox checkbox-sm"
                       value="isTodayChecked"
                       (change)="setToToday()" />
                <span class="label-text ml-2">Heute</span>
            </label>
        </div>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="mx-5 h-full self-center">
        <label for="from"
               class="mr-2">Von:</label>
        <input id="from"
               type="date"
               [(ngModel)]="from"
               (change)="setFrom($event)"
               class="text-gray-400" />
    </div>
    <div class="mx-5 h-full self-center">
        <label for="to"
               class="mr-2">Bis:</label>
        <input id="to"
               type="date"
               format
               [(ngModel)]="until"
               (change)="setTo($event)"
               class="
               text-gray-400" />
    </div>
</div>
<div *ngIf="bookedProducts | async as bookedProductsList"
     class="text-black flex align-middle w-full justify-center">
    <table class="table w-full m-5"
           aria-describedby="productstable">
        <!-- head -->
        <thead>
            <tr class="text-white">
                <th id="type">Typ</th>
                <th id="count">Anzahl</th>
                <th id="multi"></th>
                <th id="name">Name</th>
                <th id="sum">Betrag</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bookedProduct of bookedProductsList">
                <td>{{bookedProduct.productType}}</td>
                <td>{{bookedProduct.productCount}}</td>
                <td>x</td>
                <td>{{bookedProduct.productName}} ({{bookedProduct.unitAmount}} {{bookedProduct.unit}})</td>
                <td class="bg-slate-200 border-l-2 border-l-slate-600 text-lg font-bold">{{bookedProduct.fullProductPriceAmount}}</td>
            </tr>

        </tbody>
        <tfoot class="text-white">
            <tr class="bg-white">
                <td></td>
                <td></td>
                <td></td>
                <td class="text-xl text-end">Summe</td>
                <td class="bg-slate-400 border-l-2 border-l-slate-600 text-xl font-bold">{{bookedProductsFullAmount}}</td>
            </tr>
        </tfoot>
    </table>
</div>