<div class="flex w-full h-full p-5 gap-5">
  <div class="w-2/3 border border-gray-200 bg-zinc-100 card">
    <div class="flex align-baseline justify-start text-white w-full">
      <inn-calculator-tabs [categories]="categories"></inn-calculator-tabs>
    </div>
    <div class="card-body w-full h-full p-2 bg-white">
      <inn-calculator-product-list-view class="w-100 h 100 overflow-scroll"></inn-calculator-product-list-view>
    </div>
  </div>
  <div class="w-1/3 border border-gray-200 bg-zinc-100 card">
    <div class="card-body w-full h-full p-2 rounded-md">
      <inn-calculator-bill-view></inn-calculator-bill-view>
    </div>
  </div>
</div>